<p id="notice"><%= notice %></p>
<h1>Frågor</h1>
<br>


<%= search_form_for @q do |f| %>
  <form class="form-inline">
    <div class="input-group">
      <%= f.search_field :question_name_or_c_answer_cont,
      class: 'form-control', placeholder: 'Sök...' %>
       <span class="input-group-btn" id="search.btn-addon"><button type="submit" class='btn btn-primary'>Sök fråga</button></span>
    </div>
  </form>
<% end %>

<br>
<table class="table">
  <thead>
    <tr>
      <th><span class="glyphicon glyphicon-info-sign"
          aria-hidden="true"></span></th>
      <th><%= sort_link(@q, :question_name, 'Fråga') %></th>
      <th><%= sort_link(@q, :c_answer, 'Rätt svar') %></th>
      <th><%= sort_link(@q, :category_id, 'Kategori') %></th>
      <th><%= sort_link(@q, :valid_from, 'Giltig fr.o.m') %></th>
      <th><%= sort_link(@q, :valid_from, 'Giltig t.o.m') %></th>
      <th>Redigera</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>

      <tr>
        <% if question.valid_to >= @todays_date  && question.valid_from <= @todays_date%>
          <td><span class="glyphicon glyphicon-ok-circle"
          aria-hidden="true"></span></td>
        <% else %>
          <td><span class="glyphicon glyphicon-ban-circle"
          aria-hidden="true"></span></td>
        <% end %>

        <td id="td-question-name"><%= question.question_name %></td>
        <td><%= question.c_answer %></td>
        <td><% if question.category_id != nil %>
          <%= question.category.category_name %>
        <%end%></td>
        <td><%= question.valid_from %></td>
        <td><%= question.valid_to %></td>
        <td id="td-edit-delete"><%= link_to 'Visa', question %> |
        <%= link_to 'Redigera', edit_question_path(question) %> |
        <%= link_to 'Radera', question, method: :delete, data: { confirm: 'Är du säker?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @questions %>
<br>
