
<div class="col-md-5 col-md-offset-2">

<p id="notice"><%= notice %></p>

<p><strong>Aktiv:</strong> 
<% if @question.valid_to >= @todays_date 
  && @question.valid_from <= @todays_date %>
          <span class="glyphicon glyphicon-ok-circle"
          aria-hidden="true"></span>
        <% else %>
          <span class="glyphicon glyphicon-ban-circle"
          aria-hidden="true"></span>
        <% end %>
</p>

<p>
  <strong>Fr책ga:</strong>
  <%= @question.question_name %>
</p>

<p>
  <strong>R채tt svar:</strong>
  <%= @question.c_answer %>
</p>

<p>
  <strong>Alt. 1:</strong>
  <%= @question.alt1 %>
</p>

<p>
  <strong>Alt. 2:</strong>
  <%= @question.alt2 %>
</p>

<p>
  <strong>Alt. 3:</strong>
  <%= @question.alt3 %>
</p>

<p>
  <strong>Nyhetens url:</strong>
  <%= @question.news_url %>
</p>


</div>

<div class="col-md-3">

<p>
  <strong>Kategori:</strong>
  <%= @question.category.category_name %>
</p>

<p>
  <strong>Question type:</strong>
  <%= @question.question_type.question_type_name %>
</p>

<p>
  <strong>Taggar:</strong>
  <%= @question.tag %>
</p>

<p>
  <strong>Giltig fr책n:</strong>
  <%= @question.valid_from %>
</p>

<p>
  <strong>Giltig till:</strong>
  <%= @question.valid_to %>
</p>


</div>
<div class="col-md-8 col-md-offset-2">
<%= link_to 'Redigera', edit_question_path(@question) %> |
<%= link_to 'Hem', questions_path %> | 
<%= link_to 'Skapa en ny fr책ga', new_question_path %>
</div>


