<p id="notice"><%= notice %></p>

<h1>Frågetyper</h1>
<br>
<%= search_form_for @q do |f| %>
  <form class="form-inline">


<!--Search form-->
     <div class="input-group">
      <%= f.search_field :question_type_name_cont,
      class: 'form-control', placeholder: 'Sök...' %>
       <span class="input-group-btn" id="search.btn-addon"><button type="submit" class='btn btn-primary'>Sök Fågetyp</button></span>

    </div>
  </form>
<% end %>
<table class="table">
  <thead>
    <tr>
    <!--sort of column name in db table-->
      <th><%= sort_link(@q, :question_type_name, 'Frågetyp') %></th>
      <th>Redigera</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<!--show a list of question types in database-->
  <tbody>
    <% @question_types.each do |question_type| %>
      <tr>
        <td><%= question_type.question_type_name %></td>
        <td><%= link_to 'Visa', question_type %> |
        <%= link_to 'Redigera', edit_question_type_path(question_type) %> |
        <%= link_to 'Radera', question_type, method: :delete, data: { confirm: 'Tar du bort denna Frågetyp kommer alla frågor som har frågetypen bli frågetypslösa. Vill du ta bort?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= paginate @question_types %>
<br>
<%= link_to 'New Question type', new_question_type_path %>
