<!DOCTYPE html>
<html>
<head>
  <title>Adminplatform</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Fr책gor', root_path %></li>
      <li><%= link_to 'Ny fr책ga', new_question_path %></li>
      <li><%= link_to 'Kategorier', categories_path %></li>
      <li><%= link_to 'Ny kategori', new_category_path %></li>
      <li><%= link_to 'Fr책getyper', question_types_path %></li>
      <li><%= link_to 'Ny fr책getyp', new_question_type_path %></li>
    </ul>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
